<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>SplitMate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link type="image/png" sizes="32x32" rel="icon" href="img/money.png">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3ea55f06b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <div class="mt-5 container text-center">
        <a style="color: white; text-decoration: none;" href="/">
            <h1 style="font-weight: bold;" class="mt-5 display-4"><img style="width: 10vw;" src="img/money.png" alt="">
                SplitMate</h1>
        </a>
        </div>

    <div  style="padding: 40px;" class="whole container">
        <h3 class="mb-3 text-center">All Groups</h3>
        <% groups.forEach(function(group){ %>
            <div style="border-radius: 20px; padding: 30px;" class="card mb-3 bg-dark text-light bg-gradient shadow">   
                <div class="mb-3">
                <h5 class="mb-3">Group Name - <%= group.groupName %></h5>
                <h6 class="mb-2">Group ID - <%= group._id %></h6>
                </div>
                <p class="mb-2">Group Join Link <br> 
                </p>
                <a href="https://splitmates.onrender.com/join-group?groupID=<%= group._id %>">https://splitmates.onrender.com/join-group?groupID=<%= group._id %>
                </a>
                <h5 style="margin-bottom: 1rem; margin-top: 1rem;">Group Members</h5>
                <% group.members.forEach(function(member){ %>
                    <span><%= member.memberName %></span>
                <% }); %>
            </div>
        <% }); %>
    </div>

    <footer style="margin-top: 8rem; margin-bottom: 2rem;" class="text-center">
        <span>Made with ❤️ by Ashish</span>
    </footer>
</body>
</html>